@charset "utf-8";

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {margin: 0; padding:0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
body {color: #333; font-family: 'LeferiPoint-WhiteObliqueA';}

/* pc 시작 */

/* 태블릿, 모바일용 */
.xi-bars {display: none;}
.m_nav {display: none;}

/* header */
header {
    width: calc(100% - 100px); /* calc(100% 에서 양쪽 50px씩 뺀다)는 뜻 */
    height: 100px; line-height: 100px; position: absolute;
    margin: 0 auto; background-color: #072038de;
    display: flex; justify-content: flex-end; z-index: 9;
    top:0; left:50%; transform: translateX(-50%);
}
header h1 a img{position: absolute; top: 50%; left: 20px; transform: translateY(-50%);}
header .pc ul {display: flex;}
header .pc ul li a {color: #fff; padding: 0 30px; display: block;}

/* .main_visual */
.main_visual {
    width: 100%; height: 100vh;
    /* position: relative; */position: fixed;
    top: 0; left: 0;
}
.main_visual img {width: 100%; height: 100%; object-fit: cover;}
.main_visual div {
    width: 100%;
    position: absolute; top: 50%; left: 0; transform: translateY(-50%); 
    /* left: 50%; transform: translate(-50%, -50%); */
    /* 
    ㄴ 이렇게 좌우 가운데 위치를 잡으면 크기를 줄였을때 좌우 여백이 많이 남아도 글자가
    아래로 내려감. 
    그래서 div에 가로값을 주어서 text-align:center로 가운데 정렬을 해주는게 좋다.
    */
    color : #fff; text-align: center;
}

.map {
    background-color: #fff; 
    z-index: 10; /* position값이 필수 */
    position: relative;
    margin-top: 100vh;
    padding: 100px 0;
}

.map .cont {max-width: 1280px; width: 95%; margin: 0 auto;}
.map .cont div h4 {font-size: 25px;}
.map .cont div p {font-size: 18px; margin-top:10px;}
.map .cont dl {display: flex; margin: 30px 0 40px;}
.map .cont dl dt {font-weight: bold; margin-right: 10px;}
.map .cont dl dd {margin-right: 30px;}
.map .cont iframe {width: 100%;}


/* 1024px 이하일때*/

@media screen and (max-width:1024px) {
    .pc {display: none;}
    .xi-bars {
        display: block; color: #fff; line-height: 100px; font-size: 30px;
        margin-right: 20px;
    }
    .xi-bars span {/* font-size: 0; */ position: absolute; left: -999999999999999px;}
}

/* 640px 이하일때 */
@media screen and (max-width:640px) {
    header {width: calc(100% - 50px);}
    .map .cont div h4 {font-size: 20px;}
    .map .cont div p {font-size: 16px;}
    .map .cont div dl {flex-wrap: wrap;}
    .map .cont div dl dt {width: 10%;}
    .map .cont div dl dd {width: 80%;}
}

/* 모바일에선 가독성을 위해서 폰트 사이즈가 14px이하로는 떨어지지 않도록 해야지 좋다.  */